<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">
  <select id="list" resultType="com.example.demo.vo.BoardVo">
    select * , (select name from member where member.sawon=board.sawon) as name
    from board where depart=#{depart}
  </select>
  
  <insert id="write_ok" parameterType="com.example.demo.vo.BoardVo">
    insert into board(title,content,depart,level,sawon,writeday)
    values(#{title},#{content},#{depart},#{level},#{sawon},now())
  </insert>
  
  <update id="readnum">
    update board set readnum=readnum+1 where id=#{param}
  </update>
  
  <select id="content" resultType="com.example.demo.vo.BoardVo">
    select *, (select name from member where member.sawon=board.sawon) as name from board where id=#{param}
  </select>
  
  <select id="isSawon" resultType="boolean">
    select if(count(*)=0,false,true) from board
    where sawon=#{sawon} and id=#{id}
  </select>
  
  <delete id="delete">
    delete from board where id=#{param}
  </delete>
  
  <update id="update_ok" parameterType="com.example.demo.vo.BoardVo">
    update board set title=#{title}, content=#{content}, level=#{level} where id=#{id}
  </update>
</mapper>